## importando algumas bibliotecas

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Abrindo arquivo *Effort*

In [2]:
effort = pd.read_csv('EFFORT_202103120950.csv')

In [3]:
effort.shape

(11, 9)

In [4]:
effort.head(50)

,effort_id,date_effort,notes,created_at,has_changed,original_id,station_id,protocol_id,updated_at
0,1,2020-10-03 03:00:00.0,"Esforço da campanha de 2020 para o projeto ""Pl...",2020-10-08 13:43:06.0,NaN,NaN,8,1,2020-10-08 13:43:06.0
1,2,2020-10-03 03:00:00.0,"Esforço da campanha de 2020 para o projeto ""Pl...",2020-10-08 13:45:20.0,NaN,NaN,3,1,2020-10-08 13:45:20.0
2,3,2020-10-04 03:00:00.0,"Esforço da campanha de 2020 para o projeto ""Pl...",2020-10-08 13:48:26.0,NaN,NaN,9,1,2020-10-08 13:48:26.0
3,4,2020-10-05 03:00:00.0,"Esforço da campanha de 2020 para o projeto ""Pl...",2020-10-08 13:57:15.0,NaN,NaN,7,1,2020-10-08 13:57:15.0
4,5,2020-10-07 03:00:00.0,"Esforço da campanha de 2020 para o projeto ""Pl...",2020-10-08 13:58:46.0,NaN,NaN,4,1,2020-10-08 13:58:46.0
5,6,2020-10-08 03:00:00.0,"Esforço da campanha de 2020 para o projeto ""Pl...",2020-10-08 14:04:04.0,NaN,NaN,10,1,2020-10-08 14:04:04.0
6,7,2020-10-09 03:00:00.0,"Esforço da campanha de 2020 para o projeto ""Pl...",2020-10-09 20:32:37.0,NaN,NaN,5,1,2020-10-09 20:32:37.0
7,8,2021-01-26 03:00:00.0,Primeiro esforço 2021,2021-01-26 20:06:34.0,NaN,NaN,2,1,2021-01-26 20:06:34.0
8,9,2021-01-27 00:00:00.0,NaN,2021-01-27 19:40:34.0,NaN,NaN,2,1,2021-01-27 19:40:34.0
9,10,2021-02-28 00:00:00.0,NaN,2021-03-07 13:19:16.0,NaN,NaN,2,1,2021-03-07 13:19:16.0
10,11,2021-03-01 00:00:00.0,NaN,2021-03-07 13:28:26.0,NaN,NaN,2,1,2021-03-07 13:28:26.0

In [5]:
effort.count()

effort_id      11
date_effort    11
notes           8
created_at     11
has_changed     0
original_id     0
station_id     11
protocol_id    11
updated_at     11
dtype: int64

In [7]:
effort.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   effort_id    11 non-null     int64
 1   date_effort  11 non-null     object
 2   notes        8 non-null      object
 3   created_at   11 non-null     object
 4   has_changed  0 non-null      float64
 5   original_id  0 non-null      float64
 6   station_id   11 non-null     int64
 7   protocol_id  11 non-null     int64
 8   updated_at   11 non-null     object
dtypes: float64(2), int64(3), object(4)
memory usage: 920.0+ bytes

## Abrindo arquivo *Effort Categorical Values*

In [8]:
effort_categ_values = pd.read_csv ('volu/EFFORT_CATEGORICAL_VALUES_202103120950.csv')

In [9]:
effort_categ_values.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   effort_categorical_value_id   66 non-null     int64
 1   effort_id                     66 non-null     int64
 2   effort_categorical_option_id  66 non-null     int64
 3   effort_time_id                66 non-null     int64
 4   created_at                    66 non-null     object
 5   has_changed                   66 non-null     int64
 6   original_id                   0 non-null      float64
 7   updated_at                    66 non-null     object
 8   effort_variable_id            66 non-null     int64
dtypes: float64(1), int64(6), object(2)
memory usage: 4.8+ KB

In [10]:
effort_categ_values.head(20)

,effort_categorical_value_id,effort_id,effort_categorical_option_id,effort_time_id,created_at,has_changed,original_id,updated_at,effort_variable_id
0,1,1,4,1,2020-10-08 13:43:09.0,0,NaN,2020-10-08 13:43:09.0,3
1,2,1,2,2,2020-10-08 13:43:09.0,0,NaN,2020-10-08 13:43:09.0,3
2,3,1,7,2,2020-10-08 13:43:09.0,0,NaN,2020-10-08 13:43:09.0,4
3,4,1,7,3,2020-10-08 13:43:10.0,0,NaN,2020-10-08 13:43:10.0,4
4,5,1,7,1,2020-10-08 13:43:09.0,0,NaN,2020-10-08 13:43:09.0,4
5,6,1,2,3,2020-10-08 13:43:09.0,0,NaN,2020-10-08 13:43:09.0,3
6,7,2,4,1,2020-10-08 13:45:23.0,0,NaN,2020-10-08 13:45:23.0,3
7,8,2,2,2,2020-10-08 13:45:23.0,0,NaN,2020-10-08 13:45:23.0,3
8,9,2,2,3,2020-10-08 13:45:23.0,0,NaN,2020-10-08 13:45:23.0,3
9,10,2,7,3,2020-10-08 13:45:24.0,0,NaN,2020-10-08 13:45:24.0,4
10,11,2,7,1,2020-10-08 13:45:23.0,0,NaN,2020-10-08 13:45:23.0,4
11,12,2,7,2,2020-10-08 13:45:23.0,0,NaN,2020-10-08 13:45:23.0,4
12,13,3,1,1,2020-10-08 13:48:31.0,0,NaN,2020-10-08 13:48:31.0,3
13,14,3,1,2,2020-10-08 13:48:31.0,0,NaN,2020-10-08 13:48:31.0,3
14,15,3,1,3,2020-10-08 13:48:31.0,0,NaN,2020-10-08 13:48:31.0,3
15,16,3,6,1,2020-10-08 13:48:31.0,0,NaN,2020-10-08 13:48:31.0,4
16,17,3,7,2,2020-10-08 13:48:31.0,0,NaN,2020-10-08 13:48:31.0,4
17,18,3,7,3,2020-10-08 13:48:31.0,0,NaN,2020-10-08 13:48:31.0,4
18,19,4,4,1,2020-10-08 13:57:23.0,0,NaN,2020-10-08 13:57:23.0,3
19,20,4,4,2,2020-10-08 13:57:23.0,0,NaN,2020-10-08 13:57:23.0,3

In [11]:
effort_categ_values.shape

(66, 9)

In [12]:
effort_categ_values.columns

Index(['effort_categorical_value_id', 'effort_id',
       'effort_categorical_option_id', 'effort_time_id', 'created_at',
       'has_changed', 'original_id', 'updated_at', 'effort_variable_id'],
      dtype='object')

## Abrindo arquivo *Effort Continuos Values*

In [14]:
effort_conti_values = pd.read_csv ('volu/EFFORT_CONTINUOUS_VALUES_202103120950.csv')

In [15]:
effort_conti_values.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   effort_continuous_value_id  66 non-null     int64
 1   effort_id                   66 non-null     int64
 2   value                       62 non-null     float64
 3   effort_time_id              66 non-null     int64
 4   created_at                  66 non-null     object
 5   has_changed                 66 non-null     int64
 6   original_id                 0 non-null      float64
 7   updated_at                  66 non-null     object
 8   effort_variable_id          66 non-null     int64
dtypes: float64(2), int64(5), object(2)
memory usage: 4.8+ KB

In [16]:
effort_conti_values.shape

(66, 9)

In [17]:
effort_conti_values.head(20)

,effort_continuous_value_id,effort_id,value,effort_time_id,created_at,has_changed,original_id,updated_at,effort_variable_id
0,1,1,3.0,1,2020-10-08 13:43:09.0,0,NaN,2020-10-08 13:43:09.0,1
1,2,1,1.0,2,2020-10-08 13:43:09.0,0,NaN,2020-10-08 13:43:09.0,1
2,3,1,1.0,3,2020-10-08 13:43:09.0,0,NaN,2020-10-08 13:43:09.0,1
3,4,1,0.0,1,2020-10-08 13:43:09.0,0,NaN,2020-10-08 13:43:09.0,2
4,5,1,0.0,2,2020-10-08 13:43:09.0,0,NaN,2020-10-08 13:43:09.0,2
5,6,1,70.0,3,2020-10-08 13:43:09.0,0,NaN,2020-10-08 13:43:09.0,2
6,7,2,22.0,1,2020-10-08 13:45:23.0,0,NaN,2020-10-08 13:45:23.0,1
7,8,2,23.0,2,2020-10-08 13:45:23.0,0,NaN,2020-10-08 13:45:23.0,1
8,9,2,25.0,3,2020-10-08 13:45:23.0,0,NaN,2020-10-08 13:45:23.0,1
9,10,2,0.0,1,2020-10-08 13:45:23.0,0,NaN,2020-10-08 13:45:23.0,2
10,11,2,0.0,2,2020-10-08 13:45:23.0,0,NaN,2020-10-08 13:45:23.0,2
11,12,2,70.0,3,2020-10-08 13:45:23.0,0,NaN,2020-10-08 13:45:23.0,2
12,13,3,19.0,1,2020-10-08 13:48:30.0,0,NaN,2020-10-08 13:48:30.0,1
13,14,3,20.0,2,2020-10-08 13:48:30.0,0,NaN,2020-10-08 13:48:30.0,1
14,15,3,21.0,3,2020-10-08 13:48:30.0,0,NaN,2020-10-08 13:48:30.0,1
15,16,3,100.0,1,2020-10-08 13:48:30.0,0,NaN,2020-10-08 13:48:30.0,2
16,17,3,100.0,2,2020-10-08 13:48:30.0,0,NaN,2020-10-08 13:48:30.0,2
17,18,3,100.0,3,2020-10-08 13:48:30.0,0,NaN,2020-10-08 13:48:30.0,2
18,19,4,18.0,1,2020-10-08 13:57:23.0,0,NaN,2020-10-08 13:57:23.0,1
19,20,4,23.0,3,2020-10-08 13:57:23.0,0,NaN,2020-10-08 13:57:23.0,1

## Abrindo arquivo *Sumario*

In [19]:
effort_summaries = pd.read_csv ('volu/EFFORT_SUMMARIES_202103120951.csv')

In [20]:
effort_summaries.shape

(11, 9)

In [21]:
effort_summaries.head(15)

,effort_summary_id,effort_id,new_bands,recapture,unbanded,created_at,has_changed,original_id,updated_at
0,1,1,9,1,0,2020-10-08 13:43:10.0,0,NaN,2020-10-08 13:43:10.0
1,2,2,16,1,4,2020-10-08 13:45:24.0,0,NaN,2020-10-08 13:45:24.0
2,3,3,8,0,3,2020-10-08 13:48:31.0,0,NaN,2020-10-08 13:48:31.0
3,4,4,11,0,13,2020-10-08 13:57:23.0,0,NaN,2020-10-08 13:57:23.0
4,5,5,12,0,6,2020-10-08 13:58:55.0,0,NaN,2020-10-08 13:58:55.0
5,6,6,13,0,1,2020-10-08 14:04:10.0,0,NaN,2020-10-08 14:04:10.0
6,7,7,14,0,3,2020-10-09 20:32:41.0,0,NaN,2020-10-09 20:32:41.0
7,8,8,7,6,2,2021-01-26 20:06:41.0,0,NaN,2021-01-26 20:06:41.0
8,9,9,5,2,1,2021-01-27 19:40:35.0,0,NaN,2021-01-27 19:40:35.0
9,10,10,8,7,3,2021-03-07 13:19:17.0,0,NaN,2021-03-07 13:19:17.0
10,11,11,7,5,1,2021-03-07 13:28:28.0,0,NaN,2021-03-07 13:28:28.0

## Abrindo arquivo *Effort Categorical Values*

In [22]:
effort_time = pd.read_csv ('volu/EFFORT_TIME_202103120951.csv')

In [23]:
effort_time.count()

effort_time_id      3
description         3
portuguese_label    3
created_at          3
has_changed         3
original_id         0
updated_at          3
dtype: int64

In [24]:
effort_time.shape

(3, 7)

In [25]:
effort_time.head()

,effort_time_id,description,portuguese_label,created_at,has_changed,original_id,updated_at
0,1,Start of banding morning,Começo,2020-04-09 15:21:07.0,0,NaN,2020-04-09 15:21:07.0
1,2,Middle of banding morning,Meio,2020-04-09 15:24:34.0,0,NaN,2020-04-09 15:24:34.0
2,3,At the end of bandong morning,fim,2020-04-17 15:24:34.0,0,NaN,2020-04-17 15:24:34.0

## Abrindo arquivo *Effort Variable Register*

In [28]:
effort_variable_register = pd.read_csv ('volu/EFFORT_VARIABLE_REGISTER_202103120951.csv')

In [29]:
effort_variable_register.count()

effort_variable_id    5
name                  5
description           5
portuguese_label      5
field_size            5
type                  5
created_at            5
has_changed           5
original_id           0
updated_at            5
unit                  2
dtype: int64

In [30]:
effort_variable_register.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   effort_variable_id  5 non-null      int64
 1   name                5 non-null      object
 2   description         5 non-null      object
 3   portuguese_label    5 non-null      object
 4   field_size          5 non-null      object
 5   type                5 non-null      object
 6   created_at          5 non-null      object
 7   has_changed         5 non-null      int64
 8   original_id         0 non-null      float64
 9   updated_at          5 non-null      object
 10  unit                2 non-null      object
dtypes: float64(1), int64(2), object(8)
memory usage: 568.0+ bytes

In [31]:
effort_variable_register.head()

,effort_variable_id,name,description,portuguese_label,field_size,type,created_at,has_changed,original_id,updated_at,unit
0,1,temperature,“”,Temperatura,small,cont,2020-04-17 15:24:34.0,0,NaN,2020-04-17 15:24:34.0,celsius
1,2,cloud_cover,“”,Cobertura de Nuvens,medium,cont,2020-04-17 15:24:34.0,0,NaN,2020-04-17 15:24:34.0,percentage
2,3,wind,“”,Vento,small,val,2020-04-17 15:24:34.0,0,NaN,2020-04-17 15:24:34.0,NaN
3,4,pluviosity,“”,Chuva,small,val,2020-04-17 15:24:34.0,0,NaN,2020-04-17 15:24:34.0,NaN
4,5,na_register,"""""",NA Register,small,val,2020-04-17 15:24:55.0,0,NaN,2020-04-17 15:24:55.0,NaN

## Abrindo arquivo *NET Effort*

In [33]:
effort_net = pd.read_csv ('volu/NET_EFFORT_202103120951.csv')

In [34]:
effort_net.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   net_eff_id   120 non-null    int64
 1   effort_id    120 non-null    int64
 2   net_id       120 non-null    int64
 3   created_at   120 non-null    object
 4   has_changed  120 non-null    int64
 5   original_id  0 non-null      float64
 6   updated_at   120 non-null    object
dtypes: float64(1), int64(4), object(2)
memory usage: 6.7+ KB

In [35]:
effort_net.shape

(120, 7)

In [36]:
effort_net.head(10)

,net_eff_id,effort_id,net_id,created_at,has_changed,original_id,updated_at
0,1,1,35,2020-10-08 13:43:08.0,0,NaN,2020-10-08 13:43:08.0
1,2,1,36,2020-10-08 13:43:08.0,0,NaN,2020-10-08 13:43:08.0
2,3,1,37,2020-10-08 13:43:08.0,0,NaN,2020-10-08 13:43:08.0
3,4,1,38,2020-10-08 13:43:08.0,0,NaN,2020-10-08 13:43:08.0
4,5,2,39,2020-10-08 13:45:20.0,0,NaN,2020-10-08 13:45:20.0
5,6,2,40,2020-10-08 13:45:20.0,0,NaN,2020-10-08 13:45:20.0
6,7,2,41,2020-10-08 13:45:21.0,0,NaN,2020-10-08 13:45:21.0
7,8,2,42,2020-10-08 13:45:21.0,0,NaN,2020-10-08 13:45:21.0
8,9,2,45,2020-10-08 13:45:21.0,0,NaN,2020-10-08 13:45:21.0
9,10,2,46,2020-10-08 13:45:21.0,0,NaN,2020-10-08 13:45:21.0

## Abrindo arquivo *NET OC Effort*

In [37]:
effort_net_oc = pd.read_csv ('volu/NET_OC_202103120951.csv')

In [38]:
effort_net_oc.shape

(120, 8)

In [39]:
effort_net_oc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   net_oc_id    120 non-null    int64
 1   open_time    120 non-null    object
 2   close_time   120 non-null    object
 3   created_at   120 non-null    object
 4   has_changed  120 non-null    int64
 5   original_id  0 non-null      float64
 6   net_eff_id   120 non-null    int64
 7   updated_at   120 non-null    object
dtypes: float64(1), int64(3), object(4)
memory usage: 7.6+ KB

In [40]:
effort_net_oc.head(10)

,net_oc_id,open_time,close_time,created_at,has_changed,original_id,net_eff_id,updated_at
0,1,1970-01-01 05:20:00.0,1970-01-01 10:20:00.0,2020-10-08 13:43:08.0,0,NaN,1,2020-10-08 13:43:08.0
1,2,1970-01-01 05:20:00.0,1970-01-01 10:20:00.0,2020-10-08 13:43:08.0,0,NaN,2,2020-10-08 13:43:08.0
2,3,1970-01-01 05:20:00.0,1970-01-01 10:20:00.0,2020-10-08 13:43:08.0,0,NaN,3,2020-10-08 13:43:08.0
3,4,1970-01-01 05:20:00.0,1970-01-01 10:20:00.0,2020-10-08 13:43:08.0,0,NaN,4,2020-10-08 13:43:08.0
4,5,1970-01-01 05:20:00.0,1970-01-01 10:20:00.0,2020-10-08 13:45:22.0,0,NaN,5,2020-10-08 13:45:22.0
5,6,1970-01-01 05:20:00.0,1970-01-01 10:20:00.0,2020-10-08 13:45:22.0,0,NaN,6,2020-10-08 13:45:22.0
6,7,1970-01-01 05:20:00.0,1970-01-01 10:20:00.0,2020-10-08 13:45:22.0,0,NaN,9,2020-10-08 13:45:22.0
7,8,1970-01-01 05:20:00.0,1970-01-01 10:20:00.0,2020-10-08 13:45:22.0,0,NaN,10,2020-10-08 13:45:22.0
8,9,1970-01-01 05:20:00.0,1970-01-01 10:20:00.0,2020-10-08 13:45:22.0,0,NaN,11,2020-10-08 13:45:22.0
9,10,1970-01-01 05:20:00.0,1970-01-01 10:20:00.0,2020-10-08 13:45:22.0,0,NaN,7,2020-10-08 13:45:22.0

## Abrindo arquivo *NET Register*

In [42]:
effort_net_register = pd.read_csv ('volu/NET_REGISTER_202103120952.csv')

In [43]:
effort_net_register.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91 entries, 0 to 90
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   net_id       91 non-null     int64
 1   net_number   91 non-null     object
 2   net_lat      91 non-null     int64
 3   net_long     91 non-null     int64
 4   has_changed  91 non-null     int64
 5   original_id  34 non-null     float64
 6   station_id   91 non-null     int64
 7   updated_at   91 non-null     object
 8   created_at   91 non-null     object
dtypes: float64(1), int64(5), object(3)
memory usage: 6.5+ KB

In [44]:
effort_net_register.shape

(91, 9)

In [45]:
effort_net_register.columns

Index(['net_id', 'net_number', 'net_lat', 'net_long', 'has_changed',
       'original_id', 'station_id', 'updated_at', 'created_at'],
      dtype='object')

## Abrindo arquivo *Station Register*

In [52]:
effort_station = pd.read_csv ('volu/STATION_REGISTER_202103120952.csv')

In [48]:
effort_station.shape

(10, 11)

In [49]:
effort_station.columns

Index(['station_id', 'station_code', 'station_name', 'city', 'state',
       'center_lat', 'center_long', 'has_changed', 'original_id', 'created_at',
       'updated_at'],
      dtype='object')

In [50]:
effort_station.head(12)

,station_id,station_code,station_name,city,state,center_lat,center_long,has_changed,original_id,created_at,updated_at
0,1,PORT,Porteira da Fumaca,Resende,RJ,0,0,0,NaN,2020-04-09 19:56:38.0,2020-04-09 19:56:38.0
1,2,BOA1,Estacao 1 da Fazenda Boa Vista,Bocaina de Minas,RJ,0,0,0,NaN,2020-04-09 19:56:38.0,2020-04-09 19:56:38.0
2,3,LIA1,Avifauna Lidice - A1,Rio Claro,RJ,0,0,0,NaN,2020-10-03 22:27:26.0,2020-10-03 22:27:26.0
3,4,LIA2,Avifauna Lidice - A2,Rio Claro,RJ,0,0,0,NaN,2020-10-03 22:27:37.0,2020-10-03 22:27:37.0
4,5,LIA3,Avifauna Lidice - A3,Rio Claro,RJ,0,0,0,NaN,2020-10-03 22:27:46.0,2020-10-03 22:27:46.0
5,6,LIA4,Avifauna Lidice - A4,Rio Claro,RJ,0,0,0,NaN,2020-10-03 22:28:04.0,2020-10-03 22:28:04.0
6,7,LIA5,Avifauna Lidice - A5,Rio Claro,RJ,0,0,0,NaN,2020-10-03 22:28:25.0,2020-10-03 22:28:25.0
7,8,LIA6,Avifauna Lidice - A6,Rio Claro,RJ,0,0,0,NaN,2020-10-03 22:28:33.0,2020-10-03 22:28:33.0
8,9,LIA7,Avifauna Lidice - A7,Rio Claro,RJ,0,0,0,NaN,2020-10-03 22:28:41.0,2020-10-03 22:28:41.0
9,10,LIA8,Avifauna Lidice - A8,Rio Claro,RJ,0,0,0,NaN,2020-10-03 22:28:53.0,2020-10-03 22:28:53.0

In [51]:
effort_station.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   station_id    10 non-null     int64
 1   station_code  10 non-null     object
 2   station_name  10 non-null     object
 3   city          10 non-null     object
 4   state         10 non-null     object
 5   center_lat    10 non-null     int64
 6   center_long   10 non-null     int64
 7   has_changed   10 non-null     int64
 8   original_id   0 non-null      float64
 9   created_at    10 non-null     object
 10  updated_at    10 non-null     object
dtypes: float64(1), int64(4), object(6)
memory usage: 1008.0+ bytes